//COLORS
$color-primary: #c93d1b;

$color-secondary: #04322e;

$color-tertiary: #f8c43a;

$color-fourth: #35d0ba;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$row-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;