@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes blinkCursor {
    0% {
        border-right: solid 1px transparent;
    }
    50% {
        border-right: solid 1px $color-white;
    }
    100% {
        border-right: solid 1px transparent;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}