.section-header {
    position: relative;
    height: 80vh;
    &__title {
        @include absoluteCenter; // height: 100%;
        text-align: center;
        display: block;
        img {
            height: 100%;
            overflow: hidden;
            margin-bottom: -30rem;
        }
    }
}

.section-about {
    position: relative;
    text-align: center;
    &__image {
        width: 20%;
        margin-bottom: -19rem;
        -webkit-clip-path: circle(28.7% at 51% 23%);
        clip-path: circle(28.7% at 51% 23%);
    }
}

.section-experience{
    background-color: orangered;
}